<div>
  <label for="movie_input">Search movie
    <input type="text" name="movie_input" id="movie_input" [(ngModel)]="searchInput" (change)="searchMovie(searchInput)"/>
  </label>


  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Título</th>
      <td mat-cell *matCellDef="let element">{{element.title}}</td>
    </ng-container>
    <ng-container matColumnDef="release_date">
      <th mat-header-cell *matHeaderCellDef>Lançamento</th>
      <td mat-cell *matCellDef="let element">{{formatDate(element.release_date)}}</td>
    </ng-container>
    <ng-container matColumnDef="director">
      <th mat-header-cell *matHeaderCellDef>Diretor</th>
      <td mat-cell *matCellDef="let element">{{element.director}}</td>
    </ng-container>
    <ng-container matColumnDef="producer">
      <th mat-header-cell *matHeaderCellDef>Produtor</th>
      <td mat-cell *matCellDef="let element">{{element.producer}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
