.footer-container {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #afacac;
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
